{{ define "main" }}
  {{ $isntDefault := not (or (eq (trim
    $.Site.Params.contentTypeName " ") "posts") (eq (trim
    $.Site.Params.contentTypeName " ") ""))
  }}
  {{ $contentTypeName := cond
    $isntDefault (string $.Site.Params.contentTypeName) "posts"
  }}
  {{ $PageContext
    := .
  }}
  {{/* Once either .Paginator or .Paginate is called while generating a
    page, its result is cached, and any subsequent similar call will reuse the
    cached result. So we define $pages instead of $paginator (using .Paginate) to
    avoid confusion.
  */}}
  {{ $pages := $PageContext.RegularPages }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
    {{ $pages = where $PageContext.RegularPages "Type"
      $contentTypeName
    }}
  {{ end }}

  {{ partial "hero.html" . }}

  {{ range (.Paginate $pages).Pages }}
    {{ $summary := index (split .Content "</p>") 0 }}


    <article
      class="relative  max-w-2xl mx-auto flex flex-col gap-y-2 border-2 p-6 border-gray-800 rounded-4xl pb-6 mb-4 group hover:border-gray-600 transition-colors">
      <div class="flex items-center gap-x-4 md:gap-x-6">
        {{ partial "atoms/time.html" . }}
      </div>
      <h3
        class="font text-primary-gradient mb-2 text-xl sm:text-2xl md:text-3xl font-bold underline">
        <a href="{{ .RelPermalink }}">{{ .Title | .RenderString }}</a>
      </h3>

      <div
        class="post-content text-secondary prose prose-invert prose-quoteless ">
        <p>
          {{ $summary | plainify }}
        </p>
      </div>

      <div class="absolute left-0 top-0 w-full h-full">
        <a
          href="{{ .RelPermalink }}"
          class="absolute left-0 top-0 w-full h-full"
          aria-label="Read more about {{ .Title | plainify }}"></a>
      </div>
    </article>
  {{ end }}
{{ end }}
