{{ define "main" }}
  {{ $isntDefault := not (or (eq (trim
    $.Site.Params.contentTypeName " ") "posts") (eq (trim
    $.Site.Params.contentTypeName " ") ""))
  }}
  {{ $contentTypeName := cond
    $isntDefault (string $.Site.Params.contentTypeName) "posts"
  }}
  {{ $PageContext
    := .
  }}
  {{/* Once either .Paginator or .Paginate is called while generating a
    page, its result is cached, and any subsequent similar call will reuse the
    cached result. So we define $pages instead of $paginator (using .Paginate) to
    avoid confusion.
  */}}
  {{ $pages := $PageContext.RegularPages }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
    {{ $pages = where $PageContext.RegularPages "Type"
      $contentTypeName
    }}
  {{ end }}

  {{ range (.Paginate $pages).Pages }}
    <article
      class="flex max-w-4xl flex-col gap-y-2 border-b-2 border-gray-800 pb-6">
      <div class="flex items-center just gap-x-6">
        {{ partial "atoms/time.html" . }}
      </div>

      <h3 class="font text-primary mb-2 text-3xl font-bold">
        <a href="{{ .RelPermalink }}">{{ .Title | .RenderString }}</a>
      </h3>

      {{ with .Description }}
        <p class="text-secondary mb-3">{{ . | $.Page.RenderString }}</p>
      {{ else }}
        {{ with .Summary }}
          <p class="text-secondary mb-3">{{ . | $.Page.RenderString }}</p>
        {{ end }}
      {{ end }}
      <div class="flex items-center gap-x-6">
        <a
          href="{{ .RelPermalink }}"
          class="text-secondary text-sm  hover:underline">
          [ Czytaj dalej ]
        </a>
      </div>
    </article>
  {{ end }}
{{ end }}
