{{ define "head" }}
  {{ partial "jsonld.html" . }}
{{ end }}

{{ define "main" }}

  <section
    class="flex max-w-4xl flex-col gap-y-2 border-b-2 border-gray-800 pb-6">
    <div class="flex items-center just gap-x-6">
      {{ partial "atoms/time.html" . }}
    </div>

    <h1 class="font text-primary-gradient mb-2 text-3xl font-bold">
      <a href="{{ .RelPermalink }}">{{ .Title | .RenderString }}</a>
    </h1>

    <article
      class="post-content text-secondary prose prose-invert prose-quoteless ">
      {{ .Content | safeHTML }}
    </article>

    <footer class="flex flex-col gap-y-4 mt-6">
      {{ partial "block/author.html" . }}
      {{ partial "atoms/tags.html" . }}

    </footer>
  </section>
{{ end }}
