{{ $page := . }}
{{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
{{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}
{{ with site.Menus.main }}
  <nav class="mb-12">
    <ul class="flex gap-x-6 max-w-xl border-b-2 border-gray-800 pb-6">
      {{ range . }}
        {{- $isCurrent := or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) (and $page.IsHome (and .Page (eq $contentTypeName .Page.Type))) -}}
        {{ if not .HasChildren }}
          <li id="{{ .Identifier }}" class="">
            <a
              class="text-secondary text-xl {{- if $isCurrent }}
                !text-primary
              {{ end -}}"
              href="{{ .URL }}"
              title="{{ .Name }}"
              >{{ .Name }}</a
            >
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>
{{ end }}
